thesis/*.aux
thesis/*.bcf
thesis/*.idx
thesis/*.lof
thesis/*.log
thesis/*.lot
thesis/*.out
thesis/*.run.xml
thesis/*.synctex.gz
thesis/*.toc
thesis/*.bib
thesis/*.bbl
thesis/*.blg
thesis/sources.txt

thesis-example/*.aux
thesis-example/*.bcf
thesis-example/*.idx
thesis-example/*.lof
thesis-example/*.log
thesis-example/*.lot
thesis-example/*.out
thesis-example/*.run.xml
thesis-example/*.synctex.gz
thesis-example/*.toc

ufoo/utils/*.td
ufoo/java/.idea
ufoo/java/*.iml
ufoo/java/target/
ufoo/example/client/.idea
ufoo/example/client/*.iml
ufoo/example/client/target/
ufoo/example/server/.idea
ufoo/example/server/*.iml
ufoo/example/server/target/

ufoo/example/client/src/main/java/com/mmajdis/ufoo/client/HeaderParser.java

