thesis/*.aux
thesis/*.bcf
thesis/*.idx
thesis/*.lof
thesis/*.log
thesis/*.lot
thesis/*.out
thesis/*.run.xml
thesis/*.synctex.gz
thesis/*.toc
thesis/sources.txt

thesis-example/*.aux
thesis-example/*.bcf
thesis-example/*.idx
thesis-example/*.lof
thesis-example/*.log
thesis-example/*.lot
thesis-example/*.out
thesis-example/*.run.xml
thesis-example/*.synctex.gz
thesis-example/*.toc

ufoo/*.td
ufoo/java/.idea
ufoo/java/*.iml
ufoo/java/target/
